section
  section(data-background-color='#446971')
    p Code Snippet with Highlight!
    pre
      code.PYTHON.
        def hello():
            print('Hello, World!');
  section(data-background-iframe='https://lucassouto.github.io/' class='red')
    p Hello my page
